* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
ion-content {
    
}

.header {
    ion-card-title {
        color: white;
    }
}

ion-list-header {
    text-align: center;
    font-size: 2rem;
    margin: 15px auto;
}

ion-item {
    border: var(--ion-color-primary) solid 1px;
    border-radius: 0.5rem;
    margin-bottom: 20px;
}

ion-list {
    width: min(90vw,850px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.input-date {
    margin-top: 10px;
}

ion-button {
    width: 40%;  
    margin: 0 auto;
}