<ion-header class="header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Register</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label position="floating">Full Name:</ion-label>
          <ion-input required="true" type="text" [(ngModel)]="userRegister.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Birth Date:</ion-label>
          <ion-input required="true" type="Date" [(ngModel)]="userRegister.birthDate" class="input-date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-mail:</ion-label>
          <ion-input required="true" type="email" [(ngModel)]="userRegister.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mobile Number:</ion-label>
          <ion-input required="true" type="tel" [(ngModel)]="userRegister.mobile"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password:</ion-label>
          <ion-input required="true" type="password" [(ngModel)]="userRegister.password"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="register()">Register</ion-button>
      </ion-list>
</ion-content>