<ion-header class="header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form action="">
      <ion-list>
        <ion-list-header>
          <ion-label>Register</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label position="floating">Full Name:</ion-label>
          <ion-input type="text" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Birth Date:</ion-label>
          <ion-input type="Date" name="birth-date" class="input-date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-mail:</ion-label>
          <ion-input type="email" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mobile Number:</ion-label>
          <ion-input type="tel" name="mobile-number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password:</ion-label>
          <ion-input type="password" name="password"></ion-input>
        </ion-item>
        <ion-button expand="block">Register</ion-button>
      </ion-list>

    </form>
</ion-content>