ion-title {
    font-family: 'Dancing Script', cursive;
    font-size: 2.4rem;
}

ion-col {
    text-align: center;
  }
  
  ion-row{
    margin: 0.6rem;
  }
  
  ion-label {
    margin-bottom: 1px;
    
  }
  .logout {
    margin-right: 1rem;
  }