<ion-content [fullscreen]="true">
  <ion-title>AgenDay</ion-title>
  <ion-list lines="none">
    <div class="field">  
      <ion-item>
        <ion-input required="true" placeholder="Username" name="username" type="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input required="true" placeholder="Password" name="password" type="password"></ion-input>
      </ion-item>
      <p><a href="home">Forgot Password?</a></p>

        <ion-button class="signin" expand="fixed">Sign In</ion-button>
        <ion-button class="signup" expand="fixed" fill="clear">Sign Up</ion-button>
    </div>
  </ion-list>
</ion-content>