<ion-app>
  <ion-content [fullscreen]="true">
    <div id="container">
      <div class="form">
        <h2>AgenDay</h2>
        <ion-list lines="none">
          <ion-item>
            <ion-input placeholder="Username" type="text" name="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" type="password" name="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button class="forgot" expand="full" fill="clear" (click)="presentModal()">Forgot Password ?</ion-button>

        <div class="buttons">
          <ion-button class="sign-in" expand="block">Sign In</ion-button>
          <ion-button class="sign-up" expand="block" fill="clear">Sign Up</ion-button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>