@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
ion-content {
  --background: url(../../assets/login/background.jpg) no-repeat 15% center/ cover;

}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  transform: translateY(-50%);
  width: min(85vw,800px);
  height: 350px;
  align-items: center;
  display: flex;
  justify-content: center;

  margin: auto;
  background: url(../../assets/login/post-ti.png) no-repeat  center center / cover;
  padding: 20% 0%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container a {
  text-decoration: none;
}

// ========== TITLE ==========

#logo{
  padding-top: 7em;
}

ion-title {
  font-family: 'Dancing Script', cursive, sans-serif;
  font-weight: bold;
  font-size: 3em;
  margin: auto;
  color: var(--ion-color-primary);
  text-align: center;
}

ion-list {
  --ion-background-color: transparent !important;
  width: 70%;
    @media screen and (min-width: 730px) {
      width: min(17vw,900px)
    };
}

ion-item {
  --highlight-color-focused: none;
  padding-bottom: 10px;
}

ion-input {
  color: var(--ion-color-primary);  
  border: var(--ion-color-primary) solid 2px;
  border-radius: 0.5em; 
  padding-left: 1em !important;
}

p {
  color: var(--ion-color-primary);
  margin-top: -5px;
  font-size: 0.9em;
} 

.fields {
  display: inline-block;
  height: auto;
}

ion-button {
  display: flex;
  width: 40%;  
  margin: 0 auto;  
}

.signin {
  margin-top: 10px;
}

.signup {
  margin-top: 5px;
  font-size: 0.8em;
}