@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

ion-content {
    --background: url('../../assets/background.jpg') no-repeat  -70px / cover;
    background-attachment: fixed;

}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    color: #66736C;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
  }

.image {
    margin-top: 20%;
}