<ion-content>

  <ion-list>
    <ion-list-header class="header">
      <ion-label>New Activity</ion-label> 
    </ion-list-header>
  </ion-list>

  <div id="form">
    <ion-list>

      <ion-item>
        <ion-title class="title">Activity Name</ion-title>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="activity-name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-title class="title">Deadline</ion-title>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="final-date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-title class="title">Team</ion-title>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="team"></ion-input>
      </ion-item>

      <ion-item>
        <ion-title class="title">Task</ion-title>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="task"></ion-input>
      </ion-item>
      
      <ion-button size="large"><ion-icon name="add-circle-outline"></ion-icon>New task</ion-button>
      <ion-button class="create-button" color="#63EE60" routerLink="/home/add-activities" size="large">Create</ion-button>

    </ion-list>
  </div>

</ion-content>
