<ion-content>

  <ion-list>
    <ion-list-header class="header">
      <ion-label>New Activity</ion-label> 
    </ion-list-header>
  </ion-list>

  <div id="form">
    <ion-list>

      <ion-item>
        <ion-title class="title">Activity Name</ion-title>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="activity-name" inputmode="text" [(ngModel)]="aName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-title class="title">Deadline</ion-title>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="deadline" inputmode="text" [(ngModel)]="aDeadline"></ion-input>
      </ion-item>

      <ion-item>
        <ion-title class="title">Members</ion-title>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="members" inputmode="text" [(ngModel)]="aTeam"></ion-input>
      </ion-item>

      <ion-item>
        <ion-title class="title" inputmode="text">Task</ion-title>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="task" inputmode="text" [(ngModel)]="aTask"></ion-input>
      </ion-item>

      <div *ngFor="let att of anArray; let idx = index">
        <ion-item>
          <ion-title class="title" color="primary">Task</ion-title>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="anArray[idx].value"></ion-input>
        </ion-item>
      </div>
      
      <ion-button size="large" name="new-task" (click)="newTask()"><ion-icon name="add-circle-outline"></ion-icon>New task</ion-button>
      <ion-button class="create-button" color="#63EE60" routerLink="/home/add-activities" 
            size="large" (click)="activityManager.createActivity(aName, aTeam, aDeadline, anArray[idx].value)">
        Create
      </ion-button>
      
    </ion-list>
  </div>

</ion-content>
