<ion-content>
    <ion-item>
        <ion-avatar class="photo">
            <img src="https://randomuser.me/api/portraits/men/21.jpg" alt="">
        </ion-avatar>
    </ion-item>
    <form>
        <ion-item> 
            <ion-text class="name">
                
                <ion-icon name="pencil-outline"></ion-icon>
            </ion-text>
        </ion-item>
        <ion-list>
            <ion-item>
                <ion-text class="title">Personal Data</ion-text>
            </ion-item>
            <ion-item> 
                <ion-label position="stacked">E-mail</ion-label>
                <ion-input type="email" name="email"></ion-input>
            </ion-item>
            <ion-item> 
                <ion-label position="stacked">Mobile Number</ion-label>
                <ion-input type="tel" name="mobile-number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-text class="title">Change Password</ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Current Password</ion-label>
                <ion-input type="password" name="current-password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">New Password</ion-label>
                <ion-input type="password" name="new-password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Confirm Password</ion-label>
                <ion-input type="password" name="confirm-password"></ion-input>
            </ion-item>
            <ion-button expand="block" size="large">Save</ion-button>
            <ion-button (click)="logout()" expand="block" size="large" color="danger">Logout</ion-button>
        </ion-list>
    </form>
</ion-content>