<ion-content>
    <ion-button routerLink="/home/new-activity" class="newActivity" color="#63EE60" expand="block" size="large"><ion-icon name="add-circle-outline"></ion-icon>New Activity</ion-button>
    <ion-list>
        <ion-list-header>
            <ion-label>My Activities</ion-label>
        </ion-list-header>
    </ion-list>

    <ion-card *ngFor="let activity of activityManager.listOfActivities">
        <div class="background-header">
            <ion-card-header>
                <div class="header-title">
                    <ion-card-title>{{activity.getName()}}</ion-card-title>
                    <ion-card-subtitle>Deadline: <b>{{activity.getDeadline()}}</b></ion-card-subtitle>
                </div>
                <ion-card-content>
                    <ion-card-subtitle>{{activity.getMembers()}}</ion-card-subtitle>                    
                </ion-card-content>
                <ion-progress-bar [color]="activity.getProgress() <= 35 ? 'danger' : activity.getProgress() >= 75 ? 'success' : 'warning'" 
                    [value]="(activity.getProgress()/100)"></ion-progress-bar>
                <ion-card-subtitle>Progress: {{activity.getProgress()}}</ion-card-subtitle>
            </ion-card-header>
        </div>
        <ion-card-content class="content-tasks">
            <ion-item *ngFor="let task of activity.getTasks()">
                <ion-checkbox (click)=task.changeCompleted()></ion-checkbox>
                <ion-label>{{task.getName()}}</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>