
ion-button {
    margin: 5% auto;
    width: 90%;

    &.newActivity {

        width: min(90vw, 500px);
        background-color: #63EE60;
        font-weight: bold;

    }
}

ion-button ion-icon{
    padding-right: 5%;
}

ion-list-header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

ion-card {
    background-color: white;
    border: var(--ion-color-tertiary) solid 1px;
    margin: 3% auto;
    width: 90%;

}

ion-card-header {
    padding-bottom: 0;
    background: var(--ion-color-primary);
  
    .header-title {
        font-size: 0.7rem;
        display: flex;
        justify-content: space-between;
    }

    ion-card-subtitle {
        color: black;
        margin-top: 0;
        text-align: start;

    }

    ion-card-content {
        color: black;
        border: none;
        padding: 5px ;
        

        ion-card-subtitle {
            font-weight: bold;
            text-align: start;
        }
    }

}

.content-tasks {
    max-height: 200px;
    overflow: scroll;
}

ion-card-title {
    color: black;
    text-align: left;
    margin-bottom: 2px;
}

ion-card-content {
    border: var(--ion-color-tertiary) solid 1px;
    :last-child {
        border-radius: 0.25rem 0 0 0.25rem;
    }
}

ion-checkbox {
    --border-color: var(--ion-color-tertiary);
    margin-right: 5px;
}
