<ion-content fullscreen>

    <ion-row>

        <ion-card class="progress_card" color="tertriary">
            <ion-card-title>Trabalho de Mobile</ion-card-title>
            <ion-card-content>
                <ion-row>
                    <ion-text>Data de entrega: <b>28/04/2021</b></ion-text>
                </ion-row>
                <ion-row>
                    <ion-progress-bar value="0.2"></ion-progress-bar>
                </ion-row>
                <ion-text>3 de 7 tarefas</ion-text>
                <ion-fab-button slot="fixed" size="small" class="add_button_icon">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-card-content>
        </ion-card>

    </ion-row>

    <ion-row>

        <ion-card class="progress_card" color="tertriary">
            <ion-card-title>Trabalho de Redes</ion-card-title>
            <ion-card-content>
                <ion-row>
                    <ion-text>Data de entrega: <b>13/05/2021</b></ion-text>
                </ion-row>
                <ion-row>
                    <ion-progress-bar value="0.6"></ion-progress-bar>
                </ion-row>
                <ion-text>6 de 10 tarefas</ion-text>
                <ion-fab-button slot="fixed" size="small" class="add_button_icon">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-card-content>
        </ion-card>

    </ion-row>

    <ion-row>

        <ion-card class="progress_card" color="tertriary">
            <ion-card-title>APS Automatos</ion-card-title>
            <ion-card-content>
                <ion-row>
                    <ion-text>Data de entrega: <b>18/05/2021</b></ion-text>
                </ion-row>
                <ion-row>
                    <ion-progress-bar></ion-progress-bar>
                </ion-row>
                <ion-text>0 de 9 tarefas</ion-text>
                <ion-fab-button slot="fixed" size="small" class="add_button_icon">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-card-content>
        </ion-card>

    </ion-row>

    <ion-row>

        <ion-card class="progress_card" color="tertriary">
            <ion-card-title>APS Sistema Distribuidos</ion-card-title>
            <ion-card-content>
                <ion-row>
                    <ion-text>Data de entrega: <b>21/05/2021</b></ion-text>
                </ion-row>
                <ion-row>
                    <ion-progress-bar value="1"></ion-progress-bar>
                </ion-row>
                <ion-text>9 de 9 tarefas</ion-text>
                <ion-fab-button slot="fixed" size="small" class="add_button_icon">
                    <ion-icon name="add" size="small"></ion-icon>
                </ion-fab-button>
            </ion-card-content>
        </ion-card>

    </ion-row>

</ion-content>