<ion-content fullscreen>

    <ion-row>

        <ion-card class="progress_card" color="tertriary" *ngFor="let activity of activityManager.listOfActivities">
            <ion-card-title>{{activity.getName()}}</ion-card-title>
            <ion-card-content>
                <ion-row>
                    <ion-text>Deadline: <b>{{activity.getDeadline()}}</b></ion-text>
                </ion-row>
                <ion-row>
                    <ion-progress-bar [value]="(activity.getProgress()/100)" [color]="activity.getProgress() <= 35 ? 'danger' : 'secondary'" ></ion-progress-bar>
                </ion-row>
                <ion-text>{{activity.getQuantityOfCompletedTasks()}} of {{activity.getQuantityOfTasks()}} tasks</ion-text>
                <ion-fab-button slot="fixed" size="small" class="add_button_icon" routerLink="/home/new-activity">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-card-content>
        </ion-card>

    </ion-row>

</ion-content>